@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import "../../../styles/absctract/mixins";

.works-menu {
  margin-left: 10px;
  button {
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 40px;
    line-height: 40px;
    color: #646464;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding-top: 40px;
    font-size: 50px;
    font-family: "Island Moments", sans-serif;
    color: #000000;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;

    @include respond(tab-port) {
      padding-top: 50px;
      padding-bottom: 50px;
      font-size: 32px;
    }
  }
    

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover, &:active {
      color: var(--primary-color);
    }
  }

