@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import "../../../styles/absctract/mixins";

.works-menu {
  margin-left: 10px;
  button {
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 40px;
    line-height: 40px;
    color: #646464;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 25px;
    font-family: "Yatra One", sans-serif;
    color: #000000;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    margin-right: 20px;

    @include respond(tab-port) {
      font-size: 20px;
      margin-bottom: 5px;
      padding: 0px;
    }
  }
    

    &:not(:last-child) {
      margin-right: 15px;
      display: flex;

      @include respond(tab-port) {
        flex-direction: column;
      }
    }

    &:hover, &:active {
      color: var(--primary-color);
    }
  }

